body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;


}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-top: 30px;
}

p {
  margin-bottom: 15px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.gallery img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.1);
}
.isito{
  background-color: #fff;
}

/* 11 */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.isito {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #686596;
  color: #fff;
  text-align: center;
  padding: 20px;

  background-image: url(/logo/header_img.png);
}

h1 {
  margin-bottom: 20px;
}

h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-top: 30px;
}

p {
  margin-bottom: 15px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.gallery img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0px;
}

.gallery img:hover {
  transform: scale(1.1);
}

/* Медиа-запрос для мобильных устройств */
@media screen and (max-width: 767px) {
  .gallery {
      grid-template-columns: repeat(1, 1fr);
  }
}
/*.isito h1{
  background-image: url(/logo/header_img.png);
}*/